.tuning {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.clearfix {
  overflow: auto;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
::selection {
  background: #c0e0ff;
}
::-moz-selection {
  background: #c0e0ff;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

blockquote {
  font-size:1.8rem;
  margin-bottom:0.4rem;
  line-height: 140%;
}



blockquote, h2,h1 {
  font-family: 'FoundersGrotesk-Semibold',sans-serif
}

@media screen and (max-width: 600px) {
  blockquote {
    font-size:20px
  }
}
h2 {
  font-size:1.5rem;
  margin-top:1.8rem;
}
.sh {
  margin-top:3.5rem;
}

cite {
  font-size:20px;
  font-style: normal;
}

.contact {
  text-align: right;
  font-size:20px;
  padding-top:2rem;
  line-height: 140%;
}

@media screen and (max-width: 600px) {
  .contact {
    font-size:16px;
    padding:20px 0 0 0;
  }
}

.story {
  clear:both;
  margin-top:4rem;
  padding-bottom:4rem;
}

@media screen and (max-width: 600px) {
  .story {
    padding-bottom:1.4rem;
    margin-top:2rem;
  }
}

.pics {
  float:left;
  width:35%;
  padding-top:1.8rem;
}

@media screen and (max-width: 600px) {
  .pics {
    float:none;
    width:auto;
    padding-top:1rem;
  }
}

.pics img {
  display: block;
  margin-bottom: 2rem;
  border:12px solid #fff;
}

.text {
  float:right;
  width:60%;
}

@media screen and (max-width: 600px) {
  .text {
    float:none;
    width:auto;
  }
}

article,
aside,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
video,
object {
  display: block;
}
.contain {
  max-width:900px; 
  margin:0 auto; 
  padding: 0 20px
}

body {
  background: #ededed;
  color: #111;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'FoundersGroteskText-Regular',sans-serif;
}

body,html {
  width:100%;
}

@media screen and (max-width: 900px) {
  body {
    min-width: 0;
    max-width: 900px;
  }
}

a,
a:visited {
  color: #111;
  text-decoration: none;
  border-bottom:1px solid #C11C3E
}

a:hover,
a:active {
  color:#C11C3E;
}

a:hover,
:focus,
li:hover,
img:hover,
input:hover {
  transition: all 0.2s ease-out;
}

p {
  margin: 24px 0;
  line-height: 145%;
  font-size:20px;
}

@media screen and (max-width: 600px) {
  p, h2, cite {
    font-size:20px;
  }
}

strong {
  font-weight: 700;
}
img,
object,
embed {
  max-width: 100% !important;
}
img {
  height: auto;
}
h1,
h2,
h3,
h4,
h5 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  color:#C11C3E;
  font-size:7rem;
  margin:3.2rem 0 2rem
}

.lqo {
  text-indent:-16px;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .lqo {
    text-indent:0;
    display: inline;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size:4rem;
    margin-top:4rem;
  }
}

footer {
  margin-top:3rem;
  font-size:14px;
}

@font-face {
  font-family: 'FoundersGroteskText-Regular';
  src: url('../fonts/FoundersGroteskText-Regular.eot'); 
  src: url('../fonts/FoundersGroteskText-Regular.woff') format('woff');
}

@font-face {
  font-family: 'FoundersGrotesk-Semibold';
  src: url('../fonts/FoundersGrotesk-Semibold.eot'); 
  src: url('../fonts/FoundersGrotesk-Semibold.woff') format('woff');
}