.tiny-label {
  font: 12px 'AdelleSans-Bold', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  -webkit-font-smoothing: auto;
  letter-spacing: 0.075em;
  text-rendering: optimizeLegibility;
}
.box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replace {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  display: block;
}
.tuning {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
::selection {
  background: #c0e0ff;
}
::-moz-selection {
  background: #c0e0ff;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
sup,
sub {
  position: relative;
  font-size: 60%;
  padding-left: 1px;
}
article,
aside,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
video,
object {
  display: block;
}
body {
  background: #fcfcfc;
  color: #111;
  min-width: 500px;
  border-top: 3px solid #707e90;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
@media screen and (max-width: 740px) {
  body {
    min-width: 0;
    max-width: 740px;
  }
}
body,
input,
textarea,
select,
button {
  font-family: 'Roboto Mono', monospace;
}
a,
a:visited {
  color: #7da5cc;
  text-decoration: none;
}
a:hover,
:focus,
li:hover,
img:hover,
input:hover {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
p {
  margin: 24px 0;
  line-height: 160%;
}
strong {
  font-weight: 700;
}
img,
object,
embed {
  max-width: 100% !important;
}
img {
  height: auto;
}
h1,
h2,
h3,
h4,
h5 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
.badge {
  margin: 40px auto 20px;
  display: block;
  width: 120px;
}
@media screen and (max-width: 750px) {
  .badge {
    width: 90px;
  }
}

.album {
  text-align: center;
  margin-bottom: 40px;
}
.cover {
  margin: 36px auto 16px;
  display: block;
  width: 60%;
}
.title {
  font-weight: 700;
  line-height: 180%;
}
.outro {
  margin-top: 80px;
}
@media screen and (max-width: 750px) {
  .outro {
    margin-top: 60px;
  }
}
.row {
  max-width: 500px;
  clear: both;
  margin: 0 auto;
}
@media screen and (max-width: 1157px) {
  .row {
    padding-left: 25px;
    padding-right: 25px;
    max-width: 100%;
    width: 100%;
  }
}

a,
a:visited {
  color: #111;
  border-bottom: 1px solid #a6a6a6;
}
a:hover,
a:active {
  border-color: #111;
}

@media screen and (max-width: 600px) {
  header {
    padding: 30px 0;
  }
}
header sup a:hover,
header sup a:active {
  border: none;
}

.left {
  float: left;
}
.right {
  float: right;
}

nav {
  text-align: center;
  margin-bottom: 80px;
}

@media screen and (max-width: 750px) {
  nav {
    margin-bottom: 60px;
  }
}

nav li {
  display: inline;
  margin-left: 9px;
}

@media screen and (max-width: 750px) {
  nav li {
    font-size: 10px;
  }
}

nav li span {
  color: #7da5cc;
}
nav li span.sep {
  padding: 0 0 0 4px;
}

footer {
  text-align: center;
  margin-bottom: 60px;
  color: #6c6c6c;
  font-size: 12px;
}
